
.contact-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.8rem;
}

.contact-info {
    padding: 25px;
    font-size: 1.8rem;
    color: lightsalmon;
}

.contact-item {
    display: flex;
    padding: 10px 0;
}
.contact-item_name {
    min-width: 100px;
    font-weight: bold;
}
.contact-item_desc {
    line-height: 1.2;
}

.contact-info_social {
    display: flex;
    justify-content: center;
    padding: 15px 20px;
}

.contact-info_social i {
    font-size: 4rem;
    display: inline-block;
}   

.contact-more {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}



.contact-map {
    width: 60%;
}
.contact-info {
    width: 40%;
}



@media screen and (max-width: 767px) {
    .contact-talk {
        margin-top: 30px;
    }

    .contact-map,
    .contact-info {
        width: 100%;
    }
}

/* pure background */
.area {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    pointer-events: none;
}


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(216, 229, 180, 0.551);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



/* FAQ Styles */

.container h2{
    font-size: 35px;
    text-align: center  ;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
    font-size: 30px;
}


.accordion .accordion-item .accordion-button .icon{
    font-size: 20px;
}

.accordion .accordion-item .accordion-content p{
    font-size: 15px;
}



.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.9rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover{
    color: #03b5d2;
}

/* Hide the plus/minus sign when not expanded */
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

/* Rotate the plus sign to become a minus sign when expanded */
.accordion button[aria-expanded='true'] .icon::after {
    transform: rotate(45deg);
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

/* Styling for the answer content */
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out, max-height 0.2s ease-in-out;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
}

/* Show the answer content when expanded */
.accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
}

/* Center the FAQ items */
.accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 767px) {
    .accordion .accordion-content {
        max-height: none;
    }
}
