

.home .home-slider .slide .image img{
    height: 500px;
    width: auto;
    right: 10px;
}

.home .home-slider .slide .image {
    flex: 0;
}

.result {
    position: absolute;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.hide {
    display: none;
}

.swiper-slide .result {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999;
}


.dishes h1{
    color: #666;
}

.dishes .box-container .box:hover img {
    transform: none;
}

body{
    overflow: hidden;
}

.hide {
    display: none;
}

.dishes .box-container .box .img img{
    width: 50%;
    height: 150px;
}